:root {
    --cor-fundo: linear-gradient( to right,rgb(24, 193, 223),rgb(105, 130, 129) );
    --cor-primaria: rgb(0, 0, 0);
    --cor-esp: rgb(24, 193, 223);
    --cor-terciaria:rgba(0, 255, 255, 0.677);
    --cor-visor: rgb(105, 130, 129);
    --cor-textoVisor:rgba(8, 0, 0, 0.656);
    --cor-borda:rgb(49, 46, 46);
    --cor-btn: rgba(225, 231, 232, 0.934);
    --cor-erro: rgba(245, 8, 8, 0.516);
}

body {
    
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--cor-fundo); 
    transition: background-color 1s;   
}

#botoes {
    background-color: var(--cor-primaria);
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: repeat(5, 50px);
    gap: 2px;
    border: 15px solid var(--cor-borda);
    border-radius: 10px;
    box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.54);
}

#visor {
    margin-bottom: 2px;
    text-align: center;
    vertical-align: bottom;
    width: 200px;
    height: 110px;
    color: var(--cor-textoVisor);
    font-weight: bolder;
    resize: none; /* impede o redimensionamento da area de texto*/
    border: 15px solid var(--cor-borda);
    border-radius: 10px;
    font-size: 2.4em;
    background-color: var(--cor-visor);
    box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.54);
    outline: none;
    
}

#outros {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}


#copy {
    margin: 3px;
    flex-grow: 1;
    padding: 10px;
    background-color: var(--cor-esp);
    border-radius: 5px;
    transition: background-color 0.5s;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.54);
    border: none;
}

#tema {
    margin: 3px;
    max-width: 99px;
    flex-grow: 1;
    padding: 10px;
    background-color: var(--cor-esp);
    border-radius: 5px;
    transition: background-color 0.5s;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.54);
    border: none;
}

#tema:hover, #copy:hover {
    background-color: var(--cor-terciaria);
}

.clicado {
    color: white;

}

#tema:active, .btn:active, .esp:active {
    color: white;
}


/* Botões --------------------------------------------------------------*/

.btn {
    border-radius: 5px;
    font-size: 1.3em;
    width: 50px;
    transition: 0.2s;
    background-color: var(--cor-btn);
    transition: background-color 0.5s;;
}

.btn:hover {
    text-shadow: 1px 1px 1px #0a000094;
    font-weight: bolder;
    background-color: var(--cor-terciaria);
 }

button[data-tecla="DEL"]  {
    background-color: var(--cor-esp);
    grid-column: 3;
    grid-row: 5;
    box-sizing: border-box;
    width: 50px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*img do delete(backspace)*/
#delete {
    width : 50px;
    padding: 10px;
    box-sizing: border-box;
}

input[data-tecla="*"] {
    grid-column: 4;
    grid-row: 1;
}

input[data-tecla="/"] {
    grid-column: 4;
    grid-row: 2;
}

input[data-tecla="+"] {
    grid-column: 4;
    grid-row: 3;
}

input[data-tecla="-"] {
    grid-column: 4;
    grid-row: 4;
}

input[data-tecla="="] {
    grid-column: 4;
    grid-row: 5;
}

input[data-tecla="AC"] {
    grid-column: 1;
    grid-row: 1;
}


input[data-tecla="("] {
    grid-column: 2;
    grid-row: 1;
}

input[data-tecla=")"] {
    grid-column: 3;
    grid-row: 1;
}

input[data-tecla="."] {
    grid-column: 2;
    grid-row: 5;
}

.esp {
    background-color: var(--cor-esp);
}


