* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  background-color: rgb(66, 140, 209);
}

.App {
  background-color: rgb(66, 140, 209);
  display: flex;
  justify-content: center;
  padding-top: 100px;
}