#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.input {
  height: 60px;
  width: 300px;
  border: none;
  border-radius: 4px;
  background-color: #333;
  color: #fff;
  margin-bottom: 50px;
}

label {
  display: block;
  padding: 10px;
  color: #fff;
}
.input input {
  width: 100%;
  height: 3rem;
  border-radius: 4px;
}

h1 {
  color: #fff;
  font-size: 2rem;
  margin-bottom: 20px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.games {
  display: flex;
  
  padding: 10px;
  border-radius: 5px;
  margin: 20px;
}

.games h2 {
  color: #fff;
  font-size: 1.5rem;
  margin: 10px;
}

.games img {
  height: 200px;
  width: 150px;
  object-fit: cover;
  border-radius: 4px;
}

.card {
  background-color: #333;
  padding: 20px;
  border-radius: 4px;
  margin-bottom: 20px;
}