:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: white;
}

body {
  background-color: #242424;
  margin: 0;
  display: flex;
  place-items: center;
  width: 100vw;
  min-height: 100vh;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.App {
 display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
