<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Emails</title>
  </head>
  <body>
    <h1>Emails cadastrados</h1>
    <ul>
      <% storedEmails.forEach(email => { %>
      <li><%= email %></li>
      <% }); %>
    </ul>
  </body>
</html>
