body {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(95, 94, 92);
    width: 400px;
    height: 200px;
    border-radius: 10px;  
    box-shadow: 1px 1px 10px rgba(160, 158, 158, 0.5);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons {
    font-size: 1.2rem;
    padding-top: 10px;
}

button, input {
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(200, 200, 200);
}

p {
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    margin: 10px 0;
}