* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    border: none;
    outline: none;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-evenlys;
    align-items: center;
    flex-direction: column;
    /* background-color: bisque; */
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    width: 100%;
    height: 100px;
}

#reiniciar {
    font-size: 0.7em;
    width: 100px;
    height: 25px;
}

div#container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    /* background-color: brown; */
}


div#playGame {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 229, 255, 0.071);
    height: 250px;
    width: 100%;
    flex-direction: column;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.396);
}

.jogadores { 
    width: 170px;
    height: 30px;
    border-radius: 4px;
    margin: 10px 2px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.414);
    
}

label {
    font-size: 1.2em;
}

button {
    width: 140px;
    height: 40px;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.311);
}

button:hover {
    background-color: rgba(6, 69, 69, 0.411);
}

main#jogo {
    /* background-color: antiquewhite; */
    
}

.quadrado { /*Caixas - Jogo da Velha*/
    
    width: 100px;
    height: 100px;
    border: none;
    text-align: center;
    outline: none;
    font-size: 5em;
    
}

.quadrado:hover {
    background-color: rgba(0, 229, 255, 0.071);
}


/*Bordas verticais -------------------------------------------------------*/
#A1, #B1, #C1 {
    border-right: 5px solid black;
}
#A2, #B2, #C2 {
    border-right: 5px solid black;   
}

/* Bordar horizontais --------------------------------------------------------*/
.A, .B {
    border-bottom: 4px solid black;
}


#jogadorDaVez {
    font-size: 2.5em;
    padding-top: 25px;
    color: blue;
    
}

section#container-placar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 'titulo-j1 vitorias titulo-j2'
                         'placar-j1 vs placar-j2';
    gap: 1px 1px;
    margin-bottom: 60px;
}

.placar {
    text-align: center;
    border-radius: 3px;
    
}

#titulo-j1 {
    grid-area: titulo-j1;
    background-color: rgba(0, 153, 255, 0.597);
}
#vitorias {
    grid-area: vitorias;
    background-color: rgba(0, 229, 255, 0.071);
}
#titulo-j2 {
    grid-area: titulo-j2;
    background-color: rgba(255, 0, 0, 0.445);
}
#placar-j1 {
    grid-area: placar-j1;
}
#vs {
    grid-area: vs;
    background-color: rgba(0, 229, 255, 0.071);
}
#placar-j2 {
    
    grid-area: placar-j2;
}



.placar {
    border: 1px solid black;
    padding: 7px;
    box-shadow: 1px 1px 2px black;
    font-size: 0.9em;
}
