.container {
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 4px 4px 16px -8px rgba(0, 0, 0, 0.25);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  width: fit-content;
}

.avatar {
  border-radius: 100%;
  box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.5);
  margin: 2rem 0 1rem;
}


.links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.followButton {
  background-color: #007bff;
  border: none;
  border-radius: 0.5rem;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s ease;
  margin: 10px;
}